@media only screen and (max-width : 992px) {
  .main-right{
    height: auto;
    padding: 20px;
    flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;

  }
  .teasers-item{
    margin: 15px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    }
    .teasers-item > span{
      margin-top: 50px;
    }
  .teaser{
    text-align: center;
  }
}
@media only screen and (max-width : 768px) {
  .main-section{
    height: 500px;
  }
  .main-left{
    height: 500px;
  }
  .wrap-main{
    height: 500px;
  }
  .main-title{
    font-size: 28px;
  }
  .main-desc{
    font-size: 18px;
  }
}

@media only screen and (max-width : 480px) {
  .main-left{
      background:url(../img/bg/bg_main4_mobile.jpg) no-repeat scroll center center;
      -webkit-background-size: cover;
      background-size: cover;

  }
  .section-title-lines{
    height: 10px;
  }
  .section-title{
    font-size: 24px;

  }
}
